{% load static %}

	<nav class="navbar navbar-expand-lg py-4 navigation header-padding " id="navbar">
		<div class="container-fluid">
		  <a class="navbar-brand" href="">
		  	<img src="{% static 'sites/comercial/images/logo.png' %}" alt="" class="img-fluid">
		  </a>

		  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fa fa-bars"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse text-center" id="navbarsExample09">
			<ul class="navbar-nav m-auto">
			  <li class="nav-item active">
				<a class="nav-link" >Home<span class="sr-only">(atual)</span></a>
			  </li>
			   <li class="nav-item"><a class="nav-link" >Sobre Nós</a></li>
			    <li class="nav-item"><a class="nav-link" >Serviços</a></li>
			   
			   <li class="nav-item"><a class="nav-link" >Portfolio</a></li>
			   <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown05">
						<li><a class="dropdown-item" >Acompanhe Nosso Blog</a></li>

						<li><a class="dropdown-item" >Blog Simples</a></li>
					</ul>
			  	</li>
			   <li class="nav-item"><a class="nav-link" >Contato</a></li>
			</ul>

			<a class="btn btn-solid-border d-none d-lg-block">Peça Seu Orçamento<i class="fa fa-angle-right ml-2"></i></a>
		  </div>
		</div>
	</nav>


<!-- Slider Start -->
<section class="banner d-flex align-items-center">
	<div class="banner-img-part"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-12 col-xl-8">
				<div class="block">
					<span class="text-uppercase text-sm letter-spacing ">Sites Corporativos são seu primeiro cartão de visitas</span>
					<h1 class="mb-3 mt-3">Página Corporativa</h1>
					<p class="mb-5">O seu site corporativo normalmente será mais conhecido e visitado que seu endereço fixo, por isso é muito importante ter um bom design e apresentação.</p>

					<a href="https://api.whatsapp.com/send?phone=5547991482727&text=Oi, Quero Entender Melhor os Sites Corporativos!" target="_blank" class="btn btn-main">Aprenda Mais Sobre a Sites Corporativos<i class="fa fa-angle-right ml-2"></i></a>

				</div>
			</div>
		</div>
	</div>
</section>
<section class="section about">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 ">
				<div class="about-item mb-5 mb-lg-5">
					<div class="icon">
						<i class="ti-light-bulb"></i>
					</div>

					<div class="content">
						<h4 class="mt-3 mb-3">Facilmente encontrada</h4>
						<p class="mb-4">Com apenas alguns cliques o usuário pode conhecer e entender seu negócio.</p>

						<a href="https://api.whatsapp.com/send?phone=5547991482727&text=Oi, Quero Entender Melhor os Sites Corporativos!"> Saber Mais </a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="about-item mb-5 mb-lg-5">
					<div class="icon">
						<i class="ti-panel"></i>
					</div>
					<div class="content">
						<h4 class="mt-3 mb-3">Entenda seu público alvo</h4>
						<p class="mb-4">Utilizando tecnicas de análise é possível saber qual o principal público que acessa seu site.</p>
						<a href="https://api.whatsapp.com/send?phone=5547991482727&text=Oi, Quero Entender Melhor os Sites Corporativos!"> Saber Mais </a>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6">
				<div class="about-item">
					<div class="icon">
						<i class="ti-headphone-alt"></i>
					</div>
					<div class="content">
						<h4 class="mt-3 mb-3">Facilite os meios de comunicação</h4>
						<p class="mb-4">Permita que o usuário entre em contato de forma rápida e segura.</p>
						<a href="https://api.whatsapp.com/send?phone=5547991482727&text=Oi, Quero Entender Melhor os Sites Corporativos!"> Saber mais </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section process">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="process-block pl-4">
					<span class="text-uppercase text-sm letter-spacing">Por que Ter um Site corporativo</span>
					<h2 class="mb-4 mt-3">Prospecção e Manutenção de clientes</h2>
					<p class="mb-4">Um site Corporativo mantém um meio de contato duradouro com todos os clientes, além de ser uma ótima ferramenta para a captação de novos clientes.</p>
				</div>
			</div>

			<div class="col-lg-7 col-xs-12 col-md-12">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mb-4 mb-lg-0">
							<i class="ti-light-bulb"></i>
							<h5>Prospecção</h5>
							<p>Atraia novos usuários</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mt-4 mb-4 mb-lg-0">
							<i class="ti-panel"></i>
							<h5>Contato</h5>
							<p>Forneça um meio de contato</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center">
							<i class="ti-search"></i>
							<h5>Análise</h5>
							<p>Entenda seu público</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mt-4">
							<i class="ti-rocket"></i>
							<h5>Apresentação</h5>
							<p>Apresente seu produto ou serviço</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>
<section class="section cta">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="cta-content bg-white p-5 rounded">
					<h3 class="mb-4">Restaram dúvidas sobre sites corporativos? <span class="text-color-primary"> Fale Comigo</span> </h3>
					<p class="mb-30">Existem diversos formatos e modelos de Sites Corporativos, tenho certeza que um deles se encaixa no seu negócio.</p>
					
					<a href="https://api.whatsapp.com/send?phone=5547991482727&text=Oi, Quero pedir meu Site Corporativo!" class="btn btn-main">Fale Comigo<i class="fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section portfolio start -->
<section class="section portfolio pb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="heading">
					<h2 class="mb-4">Tenha um Site Corporativo Elegante</h2>
					<p>Seu negócio merece um site que represente toda sua qualidade e eficiência.</p>
				</div>
			</div>
		</div>
	</div>

	
</section>

{% load static %}
<!-- footer Start -->
<footer class="footer section">
	<div class="container pt-4">
		<div class="row pt-5">
			<div class="col-lg-3 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<h3>Orbitor</h3>
					</div>
					<p>Tempora dolorem voluptatum nam vero assumenda voluptate, facilis ad eos obcaecati tenetur veritatis eveniet distinctio possimus.</p>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Company</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a >About</a></li>
						<li><a >Services</a></li>
						<li><a >Team</a></li>
						<li><a >Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Support</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a >Terms & Conditions</a></li>
						<li><a >Privacy Policy</a></li>
						<li><a >Support</a></li>
						<li><a >FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Get in Touch</h4>
					<h6><a  > <i class="ti-headphone-alt mr-3"></i>samuels.g.desouza@gmail.com</a></h6>
					<h6><a href="mailto:samuels.g.desouza@gmail.com" > <i class="ti-mobile mr-3"></i>+55 47 991-482-727</a></h6>

					<ul class="list-inline footer-socials mt-5">
						<li class="list-inline-item"><a ><i class="ti-facebook mr-2"></i></a></li>
						<li class="list-inline-item"><a ><i class="ti-twitter mr-2"></i></a></li>
						<li class="list-inline-item"><a ><i class="ti-linkedin mr-2 "></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-4 mt-5">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">Orbitor</span> by <a href="https://themefisher.com/" target="_blank">Themefisher</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
   
