{% load static %}
<!-- 
    Essential Scripts
    =====================================-->
<!-- Main jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap4 -->
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- Parallax -->
<script src="{% static 'plugins/parallax/jquery.parallax-1.1.3.js' %}"></script>
<!-- lightbox -->
<script src="{% static 'plugins/lightbox2/js/lightbox.min.js' %}"></script>
<!-- Owl Carousel -->
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
<!-- filter -->
<script src="{% static 'plugins/filterizr/jquery.filterizr.min.js' %}"></script>
<!-- Smooth Scroll js -->
<script src="{% static 'plugins/smooth-scroll/smooth-scroll.min.js' %}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
<script src="{% static 'plugins/google-map/gmap.js' %}"></script>

<!-- Custom js -->
<script src="{% static 'js/script.js' %}"></script>